@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@750&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}
body::-webkit-scrollbar {
  width: 10px;
  border-left: 1px solid darkviolet;
}
:root {
  --main-color: darkviolet;
  --bg-color: white;
  --text-color: black;
  --hover: navy;
  
  --big-font: 3rem;
  --medium-font: 2rem;
  --p-font: 1rem;
}
h2{
  font-size: var(--medium-font);
}
.typewriter{
  color: darkviolet;
}
span{
  color: darkviolet;
}
.darkMode {
  --text-color: white;
  --bg-color: black;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}
*::selection {
  color: var(--bg-color);
  background: var(--main-color);
}
header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--bg-color);
  align-items: center;
  background: var(--bg-color);
  box-shadow: -2.5px -2.5px 5px whitesmoke,
  2px 2px 5px whitesmoke;
}
header.shadow {
  box-shadow: 0 0 5px black;
}
.logo {
  font-size: 35px;
  font-weight: 750;
  color: var(--main-color);
}
.navbar{
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--bg-color);
  position: absolute;
  top: 50px;
  right: 0;
  height: 100vh;
  width: 100%;
  
}
.navbar a{
  margin-top: 35px;
  color: var(--text-color);
  font-size: 35px;
  border-bottom: 1px solid black;
}
.active{
  display: flex;
}
.display-controls{
  display: flex;
  gap: 25px;
}
#menu-icon, #darkmode{
  display: block;
  color: var(--text-color);
  font-size: 35px;
  cursor: pointer;
}
#menu-icon{
  background-clip: text;
  animation: scaleAndColor 2s infinite;
}
@keyframes scaleAndColor {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.home {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 0.1fr 0.5fr 0.5fr;
  align-items: center;
  overflow: hidden;
}
@keyframes typing {
  from { width: 0; }
  to { width: 35%; }
}

.typewriter {
  overflow: hidden;
  border-right:0;
  white-space: nowrap;
  animation: typing 3s steps(50) infinite;
}
.home-img {
  order: 3;
}
.home-img img {
  height: 100%;
  width: 100%;
}
.home-text h1 {
  font-size: var(--big-font);
}
.home-text h2 {
  font-size: 1rem;
  font-weight: 750;
}
.home-text p {
  font-size: var(--p-font);
  font-weight: 750;
}
.social {
  display: flex;
  flex-direction: column;
}
.social a {
  margin-bottom: 15px;
  font-size: 25px;
  color: var(--text-color);
}
.social a:hover {
  color: var(--hover);
}
.btn {
  display: block;
  background: var(--main-color);
  color: #fff;
  height: 35px;
  border-radius: 10px;  
  padding: 10px;
}
.btn a{
  color: white;
}
.btn:hover {
  background: var(--hover);
}
h2{
  font-size: 35px;
}
section
{
  margin:25px;
}
/* Making Responsive */
@media screen and  (max-width:1100px) {
  :root {
    --big-font: 2.5rem;
    --medium-font: 1.25rem;
  }
  .home {
    grid-template-columns: 1fr 5fr;
  }
  .home-text {
    grid-column: 1/6;
  }
  .home-img {
    order: initial;
  }
}





























