@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  font-family: 'Roboto', sans-serif;
}
body::-webkit-scrollbar {
  width: 10px;
  border-left: 1px solid blue;
}
:root {
  --main-color: blue;
  --bg-color: white;
  --text-color: black;
  --hover: navy;
 
  --big-font: 3rem;
  --medium-font: 2rem;
  --p-font: 1rem;
}
h2{
  font-size: var(--medium-font);
}
.typewriter{
  color: blue;
}
span{
  color: blue;
}
section {
  padding: 25px 10%;
  margin: 20px;
}
body.active {
  --text-color: white;
  --bg-color: black;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}
*::selection {
  color: var(--bg-color);
  background: var(--main-color);
}
.header {
  text-align: center;
}
.header h2 {
  font-size: 30px;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
  padding: 15px 10%;
  transition: 0.2s;
  box-shadow: -2.5px -2.5px 5px whitesmoke,
				2px 2px 5px whitesmoke;
}
header.shadow {
  box-shadow: 0 0 5px black;
}
.logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-color);
}
.navbar {
  display: flex;
}
.navbar a {
  font-size: 1rem;
  padding: 10px 20px;
  color: var(--text-color);
  font-weight: 600;
}
.navbar a:hover {
  color: var(--hover);
}
#menu-icon {
  font-size: 24px;
  cursor: pointer;
  z-index: 6001;
  display: none;
}
#darkmode {
  font-size: 22px;
  cursor: pointer;
}
.home {
  position: relative;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 0.1fr 1fr 1fr;
  align-items: center;
  gap: 1rem;
}
@keyframes typing {
  from { width: 0; }
  to { width: 35%; }
}

.typewriter {
  overflow: hidden;
  border-right:0;
  white-space: nowrap;
  animation: typing 3s steps(50) infinite;
}
.home-img {
  order: 3;
}
.home-img img {
  width: 100%;
}
.home-text h1 {
  font-size: var(--big-font);
}
.home-text h2 {
  font-size: 1rem;
  font-weight: 600;
}
.home-text p {
  font-size: var(--p-font);
  font-weight: 600;
  margin: 0.7rem 0 1rem;
}
.social {
  display: flex;
  flex-direction: column;
}
.social a {
  margin-bottom: 1rem;
  font-size: 22px;
  color: var(--text-color);
}
.social a:hover {
  color: var(--hover);
}
.btn {
  display: inline-block;
  background: var(--main-color);
  color: #fff;
  padding: 10px;
  border-radius: 10px;
}
.btn:hover {
  background: var(--hover);
}
 

.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}
.about-img img {
  width: 75%;
  border-radius: 50%;
  height: 90%;
  border: 2px solid blue;
}
.about-text p {
  font-size: var(--p-font);
  font-weight: 600;
  text-align: justify;
}
.information {
  margin: 1rem 0 1.4rem;
}
.information .info-box {
  display: flex;
  align-items: center;
  margin-bottom: 1.4rem;
}
.information .info-box .bx {
  font-size: 22px;
}
.copyright {
  padding: 20px;
  text-align: center;
  color: var(--text-color);
}
.copyright a{
  color: blue;
}

.myskills-container ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 25px;
}
.myskills-container ul li img{
  margin: 5px;
  padding:20px;
  height: 100px;
  width: 100px;
}
.myskills-container ul li img:hover{
  transform: scale(1.05);
}
.myskills-container ul li{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
}
.myskills-header{
  display: flex;
  align-items: center;
justify-content: center;
}
.myskills-header h2{
  font-size: 30px;
}
#projects{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#projects img{
height: 500px;
width: 500px;
}

.contacts{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 90vh;
  margin-bottom: 5px;

}
#box-1{
  display: flex;
  height: 90%;
  width: 75%;
}
#box-2{
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 20%;
}
.innerbox-1{
  height: 50%;
}
.innerbox-2{
  height: 50%;
  padding: 10px;
}
#contact-details ul{
  display: flex;
  flex-direction: column;
}
#contact-details ul li{
  list-style: none;
  display: flex;
  font-size: 12px;
  gap: 25px;
  margin-top: 20px;
}
#contact-details ul li img{
  filter: invert(50%);
  height: 25px;
  width: 25px;
}
#contact-details img{
  border-radius: 50%;
  height: 75px;
  width: 75px;

}

#contact-details{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.contact-form{
display: flex;
align-items: center;
justify-content: center;
}
form {
display: flex;
flex-direction: column;
justify-content: center;
padding: 100px;
}
input{
width: 600px;
margin-top: 25px;
height: 50px;
font-size: 25px;
}
textarea{
height: 100px;
margin-top: 5px;
font-size: 25px;
}
.send-button{
color: white;
margin-top: 20px;
width: 200px;
height: 50px;
text-align: left;
font-size: 20px;
background-color: blue;
border-radius: 10px;
padding: 10px;
}
.error {
color: red;
font-size: 10px;
}

.success {
color: green;
font-size: 15px;
}
.contacts-heading{
display: flex;
justify-content: center;
}
.innerbox-1 iframe{
height: 100%;
width: 100%;
}


/* Making Responsive */
@media (width<1100px) {
  :root {
    --big-font: 2.4rem;
    --medium-font: 1.2rem;
  }
  section {
    padding: 25px 5%;
  }
  #darkmode{
    margin-right:20px;
    margin-top: -8px;
  }
  .innerbox-1 iframe{
    height: 100;
}
        .contacts{
            flex-direction: column;
        }
        #box-1{
            width: 100%;
        }
        #box-2{
           width: 100%;
        }
        #contact-details ul li{
            font-size: 15px;
        }
        input{
            width: 300px;
        }
  header {
    padding: 10px 5%;
  }
  #menu-icon {
    display: initial;
    color: var(--text-color);
  }
  header .navbar {
    position: absolute;
    top: -600px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    box-shadow: 0 5px 5px black;
    transition: 0.2s ease;
    text-align: center;
  }
  .navbar.active {
    top: 100%;
  }
  .navbar a {
    padding: 1.5rem;
    display: block;
    background: var(--bg-color);
  }
  #darkmode {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
  }
  .scroll-down {
    display: none;
  }
  .home {
    grid-template-columns: 0.5fr 3fr;
  }
  .home-text {
    grid-column: 1/3;
    padding-left: 1.4rem;
  }
  .home-img {
    order: initial;
  }
  .about-container {
    grid-template-columns: 1fr;
  }
  .about-img{
    display: flex;
    justify-content: center;
  }
  .project-buttons{
    width: 150px;
  }

  .contacts{
    margin-bottom: 300px;
  }
}
@media (max-width: 350px) {
  :root {
    --big-font: 1.7rem;
    --medium-font: 1.1rem;
  }
  .home-text h2 {
    font-size: 0.9rem;
    font-weight: 600;
  }
  .contact-button{
    margin-left: 25%;
  }
  header .logo{
    font-size: 10px;
 }
}































