@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lexend+Deca:wght@100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "IBM Plex Serif", serif;
  font-weight: 500;
  color: var(--text-color);
  box-sizing: border-box;
}
:root{
  font-size: var(--font-size);
  --font-size:10px;
  --background-color:#fff;
  --primaryColor:#00305F;
  --text-color:rgba(100, 100, 100, 1);
  --useful-text:#000;
}
.specialFont{
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 750;
}
section,footer{
   overflow: hidden !important;
 }
.primaryColor{
  color: var(--primaryColor);
  font-size: 5rem;
}
.transparentText{
  font-size: 5rem;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  color: var(--text-color);
}
body{
  background-color: var(--background-color);
}
header,section,footer{
  padding: 0 7.5%;
  width: 100%;
}
/* header */
.top{
  background: var(--primaryColor);
  height: 25px;
  width: 100%;
  position: relative;
}
.top_whiteLine{
  background-color: #fff;
  height: 5px;
  width: 100%;
  position: absolute;
  bottom: 5px;
}
header{
  position: sticky;
  top: 0;
  z-index: 15 !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  background-color: var(--background-color);
  box-shadow: -1px 1px 0px 10px var(--primaryColor);
  -webkit-box-shadow: -1px 1px 0px 10px var(--primaryColor);
  -moz-box-shadow: -1px 1px 0px 10px var(--primaryColor);
}
.navLinks ul{
  display: flex;
  gap: 35px;
}
.navLinks ul li a{
  color: var(--useful-text);
  font-size: 2rem;
  position: relative;
  cursor: pointer;
  font-weight: 600
}
.navLinks a::before{
  content: "";
  position: absolute;
  bottom: -2.5px;
  height: 2.5px;
  border-radius: 50px;
  width: 0;
  background: var(--primaryColor);
}
.navLinks a:hover::before{
  width: 100%;
}
#menuBtn{
  display: none;
  background-color: transparent;
  animation: scaling 3s infinite;
  font-size: 3.3rem;
  color: var(--useful-text);
  border: none;
  outline: none;
}
@keyframes scaling {
  from{
    transform: scale(1);
  }
  to{
    transform: scale(1.5);
  }
}
@media screen and (max-width:1200px) {
  .navLinks{
    padding: auto;
    display: flex;
    background-color: var(--primaryColor);
    position: absolute;
    top: 150px;
    width: 80%;
    height: 75vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: none;
    margin: auto;
  }
  #menuBtn{
    display: block;
      cursor: pointer;
    }
    .navLinks ul{
      flex-direction: column;
    }
    .navLinks ul li a{
      color: #fff;
      font-size: 3.3rem;
    }
    .menu_active{
      display: flex;
    }
  }
.landingPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
}
.landingPage p{
  text-align: center;
}
.landingPage p i{
  color: #fff;
  font-size: 5rem;
}
.text1{
  color: var(--primaryColor);
  font-size: 5rem;
}
.text2{
  font-size: 2rem;
}
.text3{
  color: #fff;
  font-size: 4rem;
}
  /* projects */
  .projects{
display: flex;
flex-direction: column;
margin-top: 100px;
}
.allProjectsTitle{
  font-size: 5rem;
  color: var(--useful-text);
}
.allProjects{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 100px;
}
.project{
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 5px solid var(--useful-text);
  border-top-left-radius: 25px;
}
.project img{
  z-index: -1 !important;
  width: 100%;
  height: 450px;
}
.overlay p{
  font-size: 3.5rem;
  color: #fff;
}
.overlay p i{
  font-size: 2rem;
  color: #fff;
  padding-left: 10px;
}
.overlay p a{
  font-size: 2rem;
  color: #fff;
  position: relative;
  font-weight: 500;
}
.overlay p a::before{
  content: "";
  position: absolute;
  bottom: -2.5px;
  width: 100%;
  background-color: #fff;
  height: 1.5px;
  transition: all ease 0.5s;
}
.overlay p a:hover::before{
  height: 3.5px;
  animation: underline 1s linear;
}
@keyframes underline {
  from{
    width: 0;
  }
  to{
    width: 100%;
  }
}
.overlay{
  display: flex;
  z-index: 1 !important;
  flex-direction: column;
  background-color: var(--primaryColor);
  justify-content: center;
  padding:25px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.project:hover .overlay{
  display: flex;
  opacity: 0.9;
}
@media screen and (max-width:1200px) {
  .allProjects{
    grid-template-columns: 1fr;
    row-gap: 50px;
  }
  .overlay p{
    font-size: 2.5rem;
  }
}
/* footer */
footer{
  position: relative;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 0 0;
  margin-bottom: 50px;
  border-top: 10px solid var(--primaryColor);
  border-top-left-radius: 150%;
  border-top-right-radius: 150%;
}
footer::before{
  position: absolute;
  content: "";
  top: 0;
  left: auto;
  right: auto;
  width: 65%;
  height: 50%;
  border: none;
  border-bottom-left-radius:150%;
  border-bottom-right-radius: 150%;
  border-bottom: 10px solid var(--primaryColor);
  z-index: -1;
}
footer ul{
  margin: 50px 0 50px 0;
  border: none;
  border-bottom-left-radius:150%;
  border-bottom-right-radius: 150%;
  border-bottom: 10px solid var(--primaryColor);
}
footer ul li{
  display: flex;
  gap: 25px;
}
footer ul li a i{
  z-index: 10;
  font-size: 5rem;
  border-radius: 50px;
  margin: 10px 0;
  padding: 10px;
  color: var(--useful-text);
}
footer ul li a i:hover{
  background: var(--primaryColor);
  color: #fff;
}
.copyright{
  font-size: 1.5rem;
  text-align: center;
}

/* darkmode */
.darkMode{
  --background-color:#000;
  --useful-text:#fff;
  --primaryColor: #27AE60;
  --text-color: rgba(100, 100, 100, 1);
}
#darkModeBtn{
  background-color: transparent;
  border: none;
    font-size: 3.3rem;
    cursor: pointer;
    color: var(--useful-text);
    border: none;
    outline: none;

  }
  @media screen and (max-width:600px){
    :root{
      --font-size: 8px;
    }
  }