@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: var(--text-color);
  box-sizing: border-box;
}
:root{
  font-size: 10px;
  --darkModeBackground:#000;
  --primaryColor:#00305F;
  --text-color:#000;
  --secondaryColor:blue;
}

@keyframes moving {
  0%{
    transform: translateX(0);
  }
  35%{
    transform: translateX(-50%);
  }
  65%{
  transform: translateX(50%);
  }
  100%{
    transform: translateX(0);
  }
}
header,section{
  padding: 0 7.5%;
  width: 100%;
}
section{
  padding: 7.5%;
}
.top{
  background: var(--primaryColor);
  height: 25px;
  width: 100%;
  position: relative;
}
.top_whiteLine{
  background-color: #fff;
  height: 5px;
  width: 100%;
  position: absolute;
  bottom: 5px;
}
header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
.navLinks ul{
  display: flex;
  gap: 35px;
}
.navLinks a{
  font-size: 2rem;
  position: relative;
  cursor: pointer;
}
.navLinks a::before{
  content: "";
  position: absolute;
  bottom: -2.5px;
  height: 2.5px;
  border-radius: 10px;
  width: 0;
  background: var(--primaryColor);
}
.navLinks a:hover::before{
  width: 100%;
}
.hireBtn{
  background: var(--primaryColor);
  border: none;
  padding: 10px;
  border-radius: 15px;
  font-weight: 600;
  cursor: pointer;
}
.hireBtn a{
  color: #fff;
  font-size: 2rem;
}
#menuBtn{
  display: none;
  background-color: transparent;
  animation: scaling 3s infinite;
  font-size: 3.3rem;
}
@keyframes scaling {
  from{
    transform: scale(1);
  }
  to{
    transform: scale(1.5);
  }
  
}
.hero{
display: grid;
grid-template-columns: 60% 40%;
height: 75vh;
margin-bottom: 200px;
}
.hero .heroText{
  display: flex;
  flex-direction: column;
  padding-top: 150px;
}
.greet{
  font-weight: 600;
  font-size: 2.5rem;
}
.myName{
  color: var(--primaryColor);
  font-size: 4rem;
  background-size: cover;
}
.transparentText{
  font-size: 4rem;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  color: var(--primaryColor);
}
.typewriter {
  font-size: 3.3rem;
  height: auto;
  min-height: 100px;
  margin-bottom: 10px;
}
.heroImg img{
  height: 400px;
  width: 100%;
  background-color: var(--primaryColor);
  border-radius: 50%;
  border: white 10px dashed;
}
.heroImg{
  padding: 10%;
}
.heroBtn{
  display: flex;
  gap: 25px;
  margin: 10px 0 0 0;
}
.heroBtn a{
  color: var(--primaryColor);
  text-decoration: underline;
  font-size: 2.5rem;
  font-weight: 600;
}
.downloadCV{
  background: var(--primaryColor);
  border: none;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}
.downloadCV a{
  font-size: 1.5rem;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}
.mySocials ul li{
  display: flex;
  gap: 25px;
}
.mySocials ul li a i{
  color: var(--text);
  font-size: 3.3rem;
  border-radius: 50px;
  padding: 10px;
}
.mySocials ul li a i:hover{
  background: var(--primaryColor);
}
@media screen and (max-width:1200px){
  .hero{
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: 135vh;
  }
  .navLinks{
    padding: auto;
    display: flex;
    z-index: 10;
    background-color: var(--primaryColor);
    position: absolute;
    top: 150px;
    width: 75%;
    height: 75vh;
    justify-content: center;
    align-items: center;
    display: none;
  }
  #menuBtn{
    display: block;
    cursor: pointer;
  }
  .navLinks ul{
    flex-direction: column;
  }
  .navLinks ul li a{
    color: #fff;
    font-size: 50px;
  }
  .menu_active{
    display: flex;
  }
}


/* about section */
.about{
  display: grid;
  grid-template-columns: 40% 50%;
  padding-bottom: 150px;
  height: auto;
  justify-content: space-between;
  z-index: 1;
}
.about-Box1{
  background-color: yellow;
  height: 100%;
}
.about-Box2{
  display: flex;
  flex-direction: column;
}
.why{
  font-size: 4rem;
  z-index: 1;
}
.secondaryColor{
  font-size: 4rem;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  color: var(--text-color);
  z-index: 1;
}
.primaryColor{
  color: var(--primaryColor);
  font-size: 4rem;
  z-index: 1;
}
.explanation{
  margin-top: 20px;
  font-size: 1.5rem;
  z-index: 1;
  text-align: justify;
  font-weight: 500;
}
.aboutBtn{
  margin-top: 20px;
  width: 100px;
  z-index: 1;
  cursor: pointer;
}

@media screen and (max-width:1200px) {
  .about{
    display: flex;
    flex-direction: column;
    gap: 100px;

  }
}

/* contact  section*/
.form-wrap{
  width:100%;
  padding:35px 25px 35px 25px;
  background-color: rgba(245, 245, 245, 1);
  border-bottom:5px solid var(--primaryColor);
}
.form-title{
  text-align: center;
  font-size: 2rem;
  color: var(--primaryColor);
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-fields{
  display: table;
  width: 100%;
  padding: 15px 5px 5px 5px;
}
.form-fields input,
.form-fields textarea{
  font-weight: 500;
  border: none;
  outline:none;
  background: none;
  font-size: 2rem;
  padding: 20px 10px 20px 10px;
  width:100%
}
.form-fields textarea{
  height: 150px;
  resize: none;
}
.form-group{
  width: 45%;
  float: left;
  padding: 0px 30px;
  margin: 14px 12px;
  border-radius: 25px;
  box-shadow: inset 8px 8px 8px #cbcbcb, inset -8px -8px 8px #ffffff;
}
.form-fields .form-group:last-child {
  width: 92%;
}
.submitBtn{
  width: 35%;
  height: 75px;
  border-radius: 30px;
  font-size: 2rem;;
  font-weight: 600;
  outline: none;
  border:none;
  cursor: pointer;
  color:white;
  text-align: center;
  background: var(--primaryColor);
  box-shadow: 5px 5px 10px #b1b1b1, -5px -5px 10px #fff;
  transition: 0.5s;
}
@media screen and (max-width: 1200px) {
  .form-wrap{
    width: 100%;
    height: inherit;
    float: none;  
  }
  .form-group{
    width: 100%;
    margin: 25px 0px;
  }
  .form-fields .form-group:last-child, 
  .submitBtn{
    width: 100%;
  }
}

/* footer section */
footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 25px 0;
  }
  footer ul li{
    display: flex;
    gap: 10px;
  }
  footer ul li a i{
    font-size: 3.3rem;
    color: var(--primaryColor);
    border-radius: 50px;
    padding: 10px;
  }
  footer ul li a i:hover{
    color: #fff;
    background: var(--primaryColor);
    }
  .copyright{
    font-size: 1.5rem;
  }


  /* darkmode */
  .darkMode{
    background-color: var(--darkModeBackground);
    --primaryColor: #27AE60;
    --text-color:#fff;
  }
  #darkModeBtn{
    background-color: transparent;
    border: none;
    font-size: 3.3rem;
    cursor: pointer;
  }